.contact-container {
    padding: 15px;
    text-align: justify;
    color: black;
}

.contact-container h1 {
    text-align: center;
    color: black;
}

input:not(input:-webkit-autofill)::-webkit-contacts-auto-fill-button {
    background-color: #fff;
}

.contact-container-form-div {
    margin: 0 auto;
    padding: 15px;
    max-width: 80%;
    text-align: center;
}

.contact-us-form-error-div li {
    list-style: none;
    text-align: left;
}